{% extends 'music/base.html' %}
{% block title %}Songs{% endblock %}

{% block body %}

<div class="container">
<table class="table table-striped">
    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Album</th>
                            <th>Audio File</th>
                            <th>Favorite</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for album in album_list %}

                        {% for song in album.song_set.all %}
                            <tr>
                                <td>{{ song.song_title }}</td>
                                <td>
                                    {{album.album_title}}
                                </td>
                                <td>
                                    <a target="_blank" href="{{ song.audio_file.url }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>
                                </td>
								<td>
									{% if song.is_favourite %}
									<span class="glyphicon glyphicon-star"></span>
									{% endif %}
								</td>

                            </tr>
                                              {% endfor %}
                                          {% endfor %}
                        </tbody>

  </table>
    </div>
{% endblock %}
